.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Content.ReactModal__Content--after-open {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    display: block;
  }
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}